* {
  margin: 0;
  padding: 0; }

header {
  background-color: crimson; }
  header nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    flex-direction: row-reverse; }
    header nav a {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration: none;
      color: #fafafa;
      font-weight: 700; }
      header nav a:hover {
        color: #525558; }

.logo {
  font-family: cursive;
  font-size: 15px; }

main {
  width: 100%; }
  main h1 {
    text-align: center; }
  main section {
    width: 100%; }
    main section .padre-container {
      width: 100%;
      background-color: #e4fff9;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      main section .padre-container .item-hijo {
        width: 250px;
        border: 1px solid black;
        height: 250px;
        margin: 5px;
        text-align: center;
        border-radius: 4px; }
        main section .padre-container .item-hijo:hover {
          box-shadow: 5px 5px 20px black;
          background-color: #75c7ff; }

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  background-color: #68da3e;
  margin-top: 1px; }
  footer footer a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
