// @import './variables';

main {
  width: 100%;

  h1 {
    text-align: center;
  }

  section {
    width: 100%;

    .padre-container {
      width: 100%;
      background-color: #e4fff9;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .item-hijo {
        width: 250px;
        border: 1px solid black;
        height: 250px;
        margin: 5px;
        text-align: center;
        border-radius: 4px;

        &:hover {
          box-shadow: 5px 5px 20px black;
          background-color: #75c7ff;
        }
      }
    }
  }
}