@import './variables';

h1{
    text-align: center;
    font-family: $font-family;
}
section{
    background-color: cadetblue;
    height: 900px;
    width: 100%;
    div{
      width: 900px;
      border: 3px solid black;
      margin: 0 auto;
      h2{
        text-align: center;
        font-family: $font-family;
      }
      p{
        font-family: $font-family;
        text-align: justify;
      }
    }
}